/* Common Settings */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 85%;
  margin: 0 auto;
}

.fl-left{
  float: left;
}

.fl-right{
  float: right;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

a{
  text-decoration: none;
}

.list{
  padding-left: 0;
  list-style-type: none;
}
/* end Common settings */

/* parte del header */

.header li{
  display: inline;
}

.navbar-opzioni{
  padding: 30px 0;
  background-color: rgb(244, 249, 253);
  border-bottom: 2px solid black;
}

.nav-opzioni .fl-left{
  width: 50%;
}

.nav-opzioni .fl-right{
  width: 50%;
  text-align: right;
}
