/* Common Settings */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}
body {
  font-family: font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(50, 72, 89);
}

a {
  display: inline-block;
  padding: 0 15px;
  color: rgb(50, 72, 89);
  text-decoration: none;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
.list {
  padding-left: 0;
  list-style-type: none;
  font-size: 20px;
}

.button {
  background-color: rgb(251, 119, 95);
  margin: 0 15px;
  padding: 10px;
  border: 2px solid rgb(251, 119, 95);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

p{
  line-height: 30px;
}
/* fine Common settings */

/* inizio header */
.header li {
  display: inline-block;
}

.navbar-opzioni {
  border-bottom: 2px solid rgb(50, 72, 89);
  background-color: rgb(244, 249, 253);
}

.navbar-opzioni .fl-left {
  width: 50%;
  height: 47px;
  line-height: 47px;
}

.navbar-opzioni .fl-left ul {
  vertical-align: middle;
}

.navbar-opzioni .fl-left li:first-child {
  border-right: 2px solid rgb(50, 72, 89);
}

.navbar-opzioni .fl-right {
  width: 50%;
  text-align: right;
}

.login {
  color: rgb(251, 119, 95);
  background-color: rgb(255, 255, 255);
}

.navbar-opzioni, .navbar-menu{
  padding: 20px 0;
}

.logo{
  height: 40px;
}

.navbar-menu .fl-left{
  width: 30%;
}

.navbar-menu .fl-right{
  width: 60%;
  height: 47px;
  text-align: right;
  line-height: 47px;
}

.navbar-menu .fl-right ul{
  vertical-align: middle;
}

/* inizio main */

.jumbotron{
  height: 600px;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.jumbotron .container{
  height: 600px;
}

.jumbo-text{
  width: 40%;
  padding: 40px 0;
}

.jumbo-text h1{
  font-size: 40px;
}

.jumbo-text p{
  padding: 20px 0;
}

.jumbo-text div .button{
  margin: 0;
}

.jumbo-text div span{
  display: block;
  font-size: 12px;
  padding: 20px 0;
}

.powerful{
  padding: 40px 0;
  text-align: center;
  background-color: rgb(244, 249, 253);
}

.powerful .container{
  width: 60%;
}

.powerful img{
  height: 200px;
}

.powerful h2{
  font-size: 30px;
}

.powerful p{
  padding: 20px 0;
}
